img {
    width: 25px;
}

input, textarea {
    color: white;
}

:focus {
    outline: none;
}

.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    padding: 5px 0 7px;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    background: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
}

.input:focus {
    padding: 5px 14px 7px;
    transition: 0.4s;
}

.input::placeholder {
    font-size: 16px;
}

.input ~ .focus-border {
    position: absolute;
    height: 0;
    bottom: 0;
    left: 150px;
    width: 200px;
    transition: 0.4s;
    z-index: -1;
}

.input:focus ~ .focus-border {
    transition: 0.4s;
    height: 36px;
    border: 2px solid white;
    z-index: 1;
}

.input ~ .focus-border-date {
    position: absolute;
    height: 0;
    bottom: 0;
    left: 150px;
    width: 143px;
    transition: 0.4s;
    z-index: -1;
}

.input:focus ~ .focus-border-date {
    transition: 0.4s;
    height: 34px;
    border: 2px solid white;
    z-index: 1;
}
.input {
    padding: 5px 0 7px;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    background: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
}

.input-title {
    font-size: 36px;
}

.input-title:focus {
    padding: 5px 14px 7px;
    transition: 0.4s;
}

.input-title::placeholder {
    font-size: 36px;
}

.input-title ~ .focus-border-title {
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    width: 394px;
    transition: 0.4s;
    z-index: -1;
}

.input-title:focus ~ .focus-border-title {
    transition: 0.4s;
    height: 61px;
    border: 2px solid white;
    z-index: 1;
}



.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}

.form-row {
    position: relative;
    display: flex;
    align-items: center;
}

.invalid {
    border: 1px solid red;
    border-radius: 5px;
    background: #6c1111;
}

.delete{
    border: none;
    background: none;
    cursor: pointer;
}

.delete:hover{
    background: #413fa4;
    border-radius: 50%;
    aspect-ratio: 1;
    transition-duration: 0.5s;
}